# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# ML Models
*.joblib
*.pkl
*.h5
*.pt

# Large GIS files
*.graphml

# Databases
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Node modules
node_modules/